[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
auto-py-to-exe = "*"

[packages]
selenium = "*"
e1839a8 = {editable = true,path = "."}

[requires]
python_version = "3.8"
